@import "./colors";

html,
body {
  background-color: $color-background;
  color: #fff;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: sofia-pro, Helvetica, Arial, sans-serif;
}

main section pre {
  font-size: 0.75em !important;
}

main section {
  padding: 0em 1em;
  font-size: 1.5em;
}

a {
  color: #fff;
  text-decoration: none;
}

del {
  text-decoration: none;
  color: #999;
}

h1 {
  color: $color-heading;
  text-transform: uppercase;
  padding-left: 1em;
  padding-top: 1em;
  margin-top: 0em;
}
